.item-hpaned{
	padding-right: 15px;
}
.hpaned > tbody > tr > td {
	padding: 0 !important;
}
div.dashbar{
	padding: 0;
	padding-left: 5px;
}
div.dashlet{
	background: transparent;
	margin: 0px 0px 5px;
}
div.dashlet h2{
	background: #707070;
	text-shadow: none;
	padding: 10px;
	border-radius: 5px 5px 0px 0px;
	border: none;
	font-size: 14px;
    font-family: 'GT America Condensed Medium';
    font-weight: normal;
}
div.dashlet h2 a.dashlet-title{
	color: white;
}
div.dashlet h2 a.dashlet-title:hover{
	text-decoration: none;
}
div.dashlet-content{
	padding: 0;
	border: 1px solid #eaeaea;
	border-radius: 0px 0px 5px 5px;
}

/* MAIN DASHBOARD / FIRST PAGE */

.first-page-primary{
	
}

.first-page-primary > .wrap{
	padding: 0 !important;
	background-color: #E1E0E0;
}

.first-page-primary ul.sections-a{
	height: 95%;	
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 15px);
    margin: 0;
    padding: 15px;
    padding-right: 0;
    padding-bottom: 0;
}

.first-page-primary ul.sections-a li.web_dashboard{
	width: calc(25% - 15px);
	margin: 15px;
	margin-left: 0;
	margin-top: 0;
}

.first-page-primary ul.sections-a li.web_dashboard span.wrap{
	padding: 0;
	height: 100%;
}

.first-page-primary ul.sections-a li.web_dashboard span.wrap a{
	border-radius: 5px;
	border: none;
	box-shadow: none;
	background-color: white;
    -webkit-transition: all 0.2s; /* Safari */
	transition: all 0.2s;
	color: black;
	height: 100%;
}

.web_dashboard span.wrap a table,
.web_dashboard span.wrap a tbody{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


ul.sections-a li span.wrap a span,
ul.sections-a li span.wrap a span strong {
	background: none !important;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 14px;
	left: 0;
	top: 0;
	position: relative;
}
.first-page-primary ul.sections-a li.web_dashboard span.wrap a:hover{
	background-color: #4D4D4D;
	color: white;
}

/* ICONS */

li.web_dashboard img{
	height: 0;
	padding: 30px;
}

li.web_dashboard img.hover{
	height: 0;
	padding: 30px;
}

/*products*/
li[id='363'].web_dashboard img{
    background: url("../images/top-level-icons/products.svg") no-repeat scroll 0px 50%;
}

li[id='363'].web_dashboard img.hover{
    background: url("../images/top-level-icons/products.svg") no-repeat scroll 0px 50%;
}


/*purchases*/
li[id='307'].web_dashboard img{
    background: url("../images/top-level-icons/purchases.svg") no-repeat scroll 0px 50%;
}

li[id='307'].web_dashboard img.hover{
    background: url("../images/top-level-icons/purchases.svg") no-repeat scroll 0px 50%;
}

/*orders*/
li[id='72'].web_dashboard img{
    background: url("../images/top-level-icons/orders.svg") no-repeat scroll 0px 50%;
}

li[id='72'].web_dashboard img.hover{
    background: url("../images/top-level-icons/orders.svg") no-repeat scroll 0px 50%;
}
/*partners*/
li[id='497'].web_dashboard img{
    background: url("../images/top-level-icons/partners.svg") no-repeat scroll 0px 50%;
}

li[id='497'].web_dashboard img.hover{
    background: url("../images/top-level-icons/partners.svg") no-repeat scroll 0px 50%;
}
/*warehouse*/
li[id='249'].web_dashboard img{
    background: url("../images/top-level-icons/warehouse.svg") no-repeat scroll 0px 50%;
}

li[id='249'].web_dashboard img.hover{
    background: url("../images/top-level-icons/warehouse.svg") no-repeat scroll 0px 50%;
}
/*tools*/
li[id='356'].web_dashboard img{
    background: url("../images/top-level-icons/tools.svg") no-repeat scroll 0px 50%;
}

li[id='356'].web_dashboard img.hover{
    background: url("../images/top-level-icons/tools.svg") no-repeat scroll 0px 50%;
}
/*supply configuration*/
li[id='498'].web_dashboard img{
    background: url("../images/top-level-icons/supply-configuration.svg") no-repeat scroll 0px 50%;
}

li[id='498'].web_dashboard img.hover{
    background: url("../images/top-level-icons/supply-configuration.svg") no-repeat scroll 0px 50%;
}
/*administration*/
li[id='3'].web_dashboard img{
    background: url("../images/top-level-icons/administration.svg") no-repeat scroll 0px 50%;
}

li[id='3'].web_dashboard img.hover{
    background: url("../images/top-level-icons/administration.svg") no-repeat scroll 0px 50%;
}
/*accounting*/
li[id='141'].web_dashboard img{
    background: url("../images/top-level-icons/accounting.svg") no-repeat scroll 0px 50%;
}

li[id='141'].web_dashboard img.hover{
    background: url("../images/top-level-icons/accounting.svg") no-repeat scroll 0px 50%;
}
/*human resources*/
li[id='127'].web_dashboard img{
    background: url("../images/top-level-icons/human-resources.svg") no-repeat scroll 0px 50%;
}

li[id='127'].web_dashboard img.hover{
    background: url("../images/top-level-icons/human-resources.svg") no-repeat scroll 0px 50%;
}
/*synchronization*/
li[id='521'].web_dashboard img{
    background: url("../images/top-level-icons/synchronization.svg") no-repeat scroll 0px 50%;
}

li[id='521'].web_dashboard img.hover{
    background: url("../images/top-level-icons/synchronization.svg") no-repeat scroll 0px 50%;
}













