
/* LOGIN */

#logintable{
    height: calc(100% - 177px);
    background-color: #707070;
    padding-top: 0px !important;
    width: 100%;
}

#logintable + div{
    display: none;
}

.login_error_message{
    font-weight: normal;
    border-radius: 5px;
    padding: 15px;
    background-color: #BD1D14;
    margin-top: 15px;

    width: -moz-max-content;
    margin: 0 auto;
    margin-top: 15px;
}

#logintable .loginbox,
#logintable .vision{
    margin: 0;
    padding: 15px;
    display: flex; 
    flex-direction: column;
    width: 350px;
}

#logintable .loginbox{ 
    order: 2;
}

#logintable .loginbox form{ 
    padding: 0 !important;
    margin: 0;
}


#logintable .vision{ 
    order: 1;
}

#logintable fieldset{
    border: none;
}

#logintable fieldset legend{
    display: none;
}

#logintable,
#logintable > tbody,
#logintable > tbody > tr{
    display: flex;
}

#logintable > tbody{
    width: 100%;
    justify-content: center;
    align-items: center;
}
#logintable > tbody > tr{
    flex-direction: column;
}

fieldset.box div.box2{
    padding: 0 !important;
    display: flex;
    align-content: center;
    justify-content: center;
}

fieldset.box div.box2 > table{
    width: auto;
}

#logintable .vision .box{ 
	min-height: auto;
}

#logintable .vision .box p{ 
	padding: 0px 40px;
	text-align: center;
}

#logintable .vision .box img{
    height: 0px;
    padding-top: 85px;
    background: transparent url("../images/msf-logo.png") no-repeat scroll 50% 0%;
    background-size: contain;
    width: 100%;
    margin-bottom: 15px;
}

table#logintable .vision p{
    color: white;
    font-size: 14px;
    font-family: 'GT America Condensed Medium';
    font-weight: normal;
    margin: 0;
}
#logintable .loginbox td{
    padding: 0 !important;
}
#logintable .loginbox td.label{
    padding: 0 !important;
    font-size: 14px;
    color: white;
    padding-right: 10px !important;
}

#logintable .loginbox select,
#logintable .loginbox input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    min-width: 250px;
    background-color: #EAEAEA;
}
#logintable .loginbox .box .box2 table{
	width: 350px;
}
#logintable .loginbox .box .box2 tr td{ 
    padding-bottom: 10px !important;
    max-width: inherit;
}

#logintable .loginbox .box .box2 tr:first-child td:not(:first-child){
    position: relative;
    padding: 0;
    padding-right: 15px;
    outline: 0;
    border-radius: 5px;
}

#logintable .loginbox .box .box2 tr:first-child td:not(:first-child) > select{
    width:100%;
    margin:0;
    border: 0;
    outline: 0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    font-size: 14px;
  }

#logintable .loginbox .box .box2 tr:first-child td:not(:first-child) select:focus{
    outline:0;
}
#logintable .loginbox .box .box2 tr:first-child td:not(:first-child) select > option{
    font-weight:normal;
}
#logintable .loginbox .box .box2 tr:first-child td:not(:first-child):after {
    content: '';
    position: absolute;
    width: 9px;
    height: 18px;
    top: 18px;
    right: 10px;
    margin-top: 0px;
    background-image: url('../images/triangle.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 2;
    pointer-events:none;
  }
/* OPERA - Pre-Blink nix the custom arrow, go with a native select button to keep it simple. Targeted via this hack http://browserhacks.com/#hack-a3f166304aafed524566bc6814e1d5c7 */
x:-o-prefocus, #logintable .loginbox .box .box2 tr:first-child td:not(:first-child)::after {
  display:none;
}    

/* FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container. The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex. You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
/* Show only the native arrow */
@-moz-document url-prefix() { 
  #logintable .loginbox .box .box2 tr:first-child td:not(:first-child) {
    overflow: hidden;
  }
  #logintable .loginbox .box .box2 tr:first-child td:not(:first-child) select {
 /*   width: 120%;
    width: -moz-calc(100% + 3em);
    width: calc(100% + em);*/
    -moz-appearance: none;
    
  }
  
}

/* LOGIN FOOTER */
div.footer_a{
    box-shadow: none;
    background-color: #4D4D4D;
    border: none;
}
div.footer_a{
    padding: 15px;
}
div.footer_a div{
    margin : 0;
}
div.footer_a,
div.footer_a a,
div.footer_a a:hover{
    color: #707070;
    font-size: 10px;
    font-family: 'GT America Condensed Medium';
    font-weight: normal;
    text-decoration: none;
}
