
@font-face {
    font-family:"GT America Condensed Medium";
    src:url("GT-America-Condensed-Medium.woff2") format("woff2"),url("GT-America-Condensed-Medium.woff") format("woff"),url("GT-America-Condensed-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        