
@font-face {
    font-family:"GT America Condensed Bold";
    src:url("GT-America-Condensed-Bold.woff2") format("woff2"),url("GT-America-Condensed-Bold.woff") format("woff"),url("GT-America-Condensed-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        